# API configuration
api:
  address: "127.0.0.1"
  port: "4800"
# Proxy configuration
proxy:
  storage_type: "file"
  color_file: "/tmp/lbtds-current"
colors:
  green:
    - source: "web.host"
      destinations:
        - "172.24.1.0:80"
        - "172.24.1.1:80"
    - source: "ssh.host"
      destinations:
        - "172.24.1.0:22"
        - "172.24.1.1:22"
    - source: "172.24.5.2:8080"
      destinations:
        - "127.0.0.1:8080"
  blue:
    - source: "web.host"
      destinations:
        - "172.24.2.0:80"
        - "172.24.2.1:80"
    - source: "ssh.host"
      destinations:
        - "172.24.2.0:22"
        - "172.24.2.1:22"
    - source: "172.24.5.2:8080"
      destinations:
        - "127.0.0.1:8080"
  orange:
    - source: "web.host"
      destinations:
        - "172.24.3.0:80"
        - "172.24.3.1:80"
    - source: "ssh.host"
      destinations:
        - "172.24.3.0:22"
        - "172.24.3.1:22"
    - source: "172.24.5.2:8080"
      destinations:
        - "127.0.0.1:8080"